.happy-back-to-mood-tracker{
    background-color: #450920;
    width: 15%;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    padding: 1%;
    border: none;
}
.happy-back-to-mood-tracker:hover{
    background-color: white;
    color: #450920;
    cursor: pointer;
    border: 2px solid #450920;
}