/* Navbar container */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

/* Logo */
.nav-left h3{
    color: #a53860;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Right menu */
.nav-right{
    display: flex;
    gap: 30px;
    align-items: center;
}

/* Links */
.nav-right a{
    text-decoration: none;
}

/* Menu text */
.nav-right p{
    font-size: 20px;
    color: #da627d;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

/* Hover underline animation */
.nav-right p::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -6px;
    background-color: #a53860;
    transition: 0.3s;
}

.nav-right p:hover::after{
    width: 100%;
}

.nav-right p:hover{
    color: #a53860;
    cursor: pointer;
}

/* Responsive Navbar */
@media (max-width: 768px){

    .nav{
        flex-direction: column;
        gap: 10px;
    }

    .nav-right{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

}